export(HList)
export(checked_frame_class)
export(nlist)
exportClasses(HList)
exportMethods("$<-")
exportMethods("[")
exportMethods("[<-")
exportMethods("[[<-")
exportMethods("length<-")
exportMethods("names<-")
exportMethods(c)
