export(CheckedFrame)
export(ColumnCheckList)
export(ColumnChecks)
export(HList)
export(TableChecks)
export(checked_frame_class)
export(hlist_class)
export(nlist)
exportClasses(CheckedFrame)
exportClasses(ColumnCheckList)
exportClasses(ColumnChecks)
exportClasses(HList)
exportClasses(TableChecks)
exportMethods("$<-")
exportMethods("[")
exportMethods("[<-")
exportMethods("[[<-")
exportMethods("colnames<-")
exportMethods("length<-")
exportMethods("names<-")
exportMethods("rownames<-")
exportMethods(c)
exportMethods(cbind2)
exportMethods(check_constraints)
exportMethods(rbind2)
