export(ColumnCheckList)
export(ColumnChecks)
export(HList)
export(TableChecks)
export(checked_frame_class)
export(hlist_class)
export(nlist)
exportClasses(HList)
exportMethods("$<-")
exportMethods("[")
exportMethods("[<-")
exportMethods("[[<-")
exportMethods("length<-")
exportMethods("names<-")
exportMethods(c)
exportMethods(check_constraints)
